@model PersonalSite.Models.Chat.ChatMessageModel
<h2>New</h2>

<form class="form-group" asp-controller="Chat" asp-action="Create" method="post">
    <label asp-for="Content">Content</label>
    <textarea class="form-control" asp-for="Content"></textarea>
    <button type="submit" class="btn btn-newMessage">Send</button>
    <input type="hidden" asp-for="Created" value="@DateTime.Now" />
</form>