@model PersonalSite.Models.Chat.ChatMessageModel
<h2>New</h2>

<form style="margin: 75vh 0px 0px 0px" class="form-group">
    <label asp-for="Content">Content</label>
    <textarea class="form-control" asp-for="Content"></textarea>
</form>