@model PersonalSite.Models.Chat.ChatMessageModel
<h2>New</h2>

<div class="container">
    <div class="row">
        @* add a form to create a group *@
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div  class="col-md-6">&nbsp;</div>
        <div class="col-md-6">
            <input type="hidden" id="userNameInput" asp-for="AuthorName" />
            <br />
            Message: <input type="text" id="messageInput" asp-for="Content"/>
            <input type="submit" id="sendBtn" value="Send Message" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">&nbsp;</div>
        <div class="col-md-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>

@section Scripts{ 
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}