@model PersonalSite.Models.Chat.ChatMessageModel
@{
    ViewData["Title"] = "New Chat";
}


<h2>New</h2>

<div class="container chatListNew">
    <div class="row">

    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-6">&nbsp;</div>
        <div class="col-md-6">
            <input type="hidden" id="userNameInput" asp-for="AuthorName" />
            <br />
            Users: <input type="text" id="usersInput" class="chatUsers" />
            Message: <input type="text" id="messageInput" asp-for="Content" class="chatContent" />
            <input type="submit" id="sendBtn" value="Send Message" class="sendChat" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">&nbsp;</div>
        <div class="col-md-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}